@model UmTempoEmCasa.Models.Refugiado



@{
    ViewData["Title"] = "Create";
}


<div class="formulario" style="padding-left: 10px;">
    
    <h3 style="text-align:center;">Cadastre-se</h3>

    <div class="container">
        <div class="row">
            <form asp-action="Create" name="cadastro">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Nome" class="form-label">Nome :</label>
                    <input asp-for="Nome" class="form-control" placeholder="Insira seu nome*"/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Nascimento" class="form-label">Nascimento :</label>
                    <input asp-for="Nascimento" class="form-control"/>
                    <span asp-validation-for="Nascimento" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="CPF" class="form-label">CPF :</label>
                    <input asp-for="CPF" class="form-control" placeholder="Insira seu CPF*"/>
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <a target="_blank" href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/InscricaoCpfEstrangeiro/default.asp" style="font-size:20px;">Caso não possua <b><i>CPF</i></b> <br />Clique para ser redirecionado a <b><i>Receita Federal</i></b></a>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Telefone" class="form-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Email" class="form-label">E-mail :</label>
                    <input asp-for="Email" class="form-control" placeholder="Insira seu e-mail*"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Endereco" class="form-label">Endereço :</label>
                    <input asp-for="Endereco" class="form-control" placeholder="Insira seu endereço*"/>
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="CEP" class="form-label">CEP :</label>
                    <input asp-for="CEP" class="form-control" placeholder="Insira seu CEP*"/>
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Senha" class="form-label">Senha :</label>
                    <input id="password" asp-for="Senha"  type="password" class="form-control" />
                    <span  asp-validation-for="Senha" class="text-danger"></span>
                                        
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="Senha" class="form-label">Digite a Senha novamente :</label>
                    <input id="confirm_password" onChange="validatePassword()" type="password" class="form-control" />
                    <span id="alerta" ></span>
                </div>
                <br />

                <div class="linktermo"> 
                    <p> <input type="checkbox" id="term" name="term"> Concordo com os  <a class="linktem a" target="_blank" asp-controller="Anfitriao" asp-action="termAnf"> Termos de Serviços</a> e com o processamento dos meus dados</p>
                </div>
                    
                 
                <div class="col-md-6 offset-md-3 btnForm">
                    
                                       
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color:black;" id="exampleModalToggleLabel">Cadastro</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:black;">
                                    Deseja criar sua conta?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
                                    <input class="btn btn-success" type="button" value="Sim" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color:black;" id="exampleModalToggleLabel2"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:black;">
                                   Cadastro efetuado com sucesso!
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <input type="button" class="btn btn-success" data-bs-toggle="modal" id="botaobloqueado" href="#exampleModalToggle" role="button" value="Cadastrar"/>
                    

                    <a class="btn btn-danger" asp-controller="Home" asp-action="Index" style="color:white;">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div style="padding-bottom: 40px; padding-top:30px;">
        <a style="color:white" asp-action="Index" style="color:white">Acessar a lista de Refugiados</a>
    </div>
</div>
<script>
   
   document.getElementById("botaobloqueado").disabled=true;
    
    function validatePassword(){
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("confirm_password").value;

      console.log(password);
      console.log(confirm_password);

       if(password == confirm_password) {

            document.getElementById("alerta").innerHTML="Senhas Iguais";
            document.getElementById("botaobloqueado").disabled=false;


        } else {
            document.getElementById("alerta").innerHTML="Senhas diferentes";
        }
      
}

        
    
    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
