@{
    ViewData["title"] = "term";
}

<div class="termAnfcss" style="padding-left: 10px;">
    <h1 style="text-align:center;">Termos de Serviço</h1>
    <h2>Nossa Missão.</h2>
    <p>
        Nossa missão é criar um mundo onde você se sinta em casa em qualquer lugar. De cabanas a castelos e até aulas de culinária, navegue entre milhões de Anúncios e encontre aqueles que melhor se encaixem nas suas preferências de viagem. Confira a descrição e as fotos, o perfil do Anfitrião e as avaliações dos Hóspedes para obter mais informações sobre um Anúncio. Se você tiver dúvidas, basta enviar uma mensagem ao Anfitrião.
    </p>
    <h2>Buscas e Reservas no Um tempo em Casa.</h2>
    <p>
        Você pode buscar Serviços de Anfitrião usando critérios como o tipo de Serviço de Anfitrião, destino de viagem, datas de viagem e número de hóspedes. Você também pode usar filtros para refinar seus resultados de busca. Os resultados de busca são baseados na relevância desses filtros para sua busca e em outros critérios. A relevância leva em consideração fatores como preço, disponibilidade, Avaliações, histórico de atendimento ao cliente e cancelamentos, popularidade, viagens anteriores e Anúncios salvos, requisitos do Anfitrião (por exemplo, estadia mínima ou máxima) e muitos outros.
    </p>
    <p>
        Ao reservar um Anúncio, você concorda em pagar todas as taxas relacionadas à sua Reserva, incluindo o preço do Anúncio, taxas aplicáveis, como a taxa de serviço do Um Tempo em Casa , taxas cobradas fora da plataforma, impostos e todos os outros itens apontados durante o checkout (coletivamente, "Preço Total"). Você também concorda que o Um Tempo em Casa, por meio do Um Tempo em Casa Payments, pode efetuar cobranças na Forma de Pagamento (conforme definido nos Termos de Pagamento) usada para reservar o Anúncio, a fim de recolher os valores da Reclamação de Danos (conforme definido na Seção 15). Quando você recebe a confirmação da Reserva, um contrato de Serviços do Anfitrião ("Reserva") é celebrado diretamente entre você e o Anfitrião. Além destes Termos, você estará sujeito e será responsável pelo cumprimento de todos os termos da Reserva, incluindo, entre outros, a política de cancelamento e todas as outras regras, normas, políticas ou requisitos identificados no Anúncio ou durante o checkout que sejam aplicados à Reserva. É sua responsabilidade ler e compreender estas regras, padrões, políticas e requisitos antes de reservar um Anúncio. Tenha em mente que alguns Anfitriões trabalham com um coanfitrião ou como parte de uma equipe para fornecer seus Serviços de Anfitrião. 2.3 Reservas de Acomodações. A Reserva de uma Acomodação é uma licença limitada para entrar, ocupar e usar a Acomodação. O Anfitrião mantém o direito de entrar na Acomodação durante a estadia, na medida em que seja (i) razoavelmente necessário, (ii) permitido por seu contrato ou acordo com o Anfitrião e (iii) consistente com a legislação aplicável. Se você permanecer no local após a data de checkout, o Anfitrião tem o direito de exigir sua saída, de acordo com a legislação local, inclusive impondo penalidades razoáveis pela permanência além do estabelecido. Você não pode exceder o número máximo permitido de Hóspedes.
    </p>
    <p>
        A Reserva de uma Experiência ou de outro Serviço de Anfitrião dá o direito ao usuário de participar, usar ou comparecer a esse Serviço de Anfitrião. Você é responsável por confirmar que você e qualquer um de seus convidados atendem aos requisitos de idade mínima, proficiência, aptidão física ou quaisquer outros. Você é responsável por informar ao Anfitrião quaisquer condições médicas, físicas ou outros fatores que possam afetar sua capacidade de participar, usar ou comparecer ao Serviço de Anfitrião. Exceto quando expressamente autorizado, você não pode permitir que nenhuma outra pessoa participe de um Serviço de Anfitrião, a menos que ela seja incluída como hóspede adicional durante o processo de reserva.
    </p>

    <h2>Modificações de Reserva.</h2>
    <p> 
        Hóspedes e Anfitriões são responsáveis por quaisquer Modificações de Reserva que eles concordarem em fazer através da Plataforma Um Tempo em Casa ou através do serviço de atendimento ao cliente ("Modificações de Reserva") e concordam em pagar quaisquer valores, taxas ou impostos adicionais relacionados a qualquer Modificação de Reserva.
    </p>
    <h2>Suas responsabilidades e Aceitação de Riscos.</h2>
    <p>
        Você é responsável por seus próprios atos e omissões e também pelos de qualquer pessoa que você convidar para participar ou conceder acesso a qualquer Acomodação, Experiência ou outro Serviço de Anfitrião. Por exemplo, isso significa que você: (i) é responsável por deixar a Acomodação (e os bens pessoais relacionados) na condição em que a encontrou, (ii) é responsável por pagar todos os valores razoáveis da Reclamação de Danos necessários para cobrir os danos que você, seus convidados ou seus animais de estimação causarem a uma Acomodação e (iii) deve agir com integridade, tratar os outros com respeito e cumprir as leis aplicáveis o tempo todo. Se você fizer reserva para um hóspede adicional menor de idade ou levar um menor a um Serviço de Anfitrião, você deve estar legalmente autorizado a agir em nome dele e será o único responsável por sua supervisão.
    </p>
</div>
