@model UmTempoEmCasa.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<div class="formulario">
    
    <h3 style="text-align: center;">Detalhes do Imóvel</h3>
    
    <div class="container" style="padding-top: 30px; padding-left: 40px;">
        
        <label class = "col-sm-2"><b>Anfitriões :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Anfitrioes.Nome)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Endereço :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>Cidade :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>CEP :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </label>

    </div>
    <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 40px;">
        <a class="btn btn-success" style="color:white;" asp-action="Edit" asp-route-id="@Model?.ImovelID">Alterar</a>
        <a class="btn btn-warning" style="color:black;" asp-action="Index">Voltar para a Lista</a>
    </div>
</div>
