@model UmTempoEmCasa.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<div class="formulario">
    <h3 style="text-align: center; ">Detalhes da Reserva</h3>

    <div class="container" style="padding-top: 30px; padding-left: 40px;">
        
        <label class = "col-sm-2"><b>Refugiados :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Refugiados.Nome)
        </label>
        <br /><br>

        <label class = "col-sm-2"><b>Anúncios :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.Anuncios.AnuncioID)
        </label>
        <br /><br />
        
        <label class = "col-sm-2"><b>DateInicio :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInicio)
        </label>
        <br /><br />

        <label class = "col-sm-2"><b>DataFim :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </label>

    </div>
    <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 40px;">
        <a class="btn btn-success" style="color:white;" asp-action="Edit" asp-route-id="@Model?.ReservaID" style="color:white;">Alterar</a> 
        <a class="btn btn-warning" style="color:black;" asp-action="Index" style="color:white;">Voltar para a Lista</a>
    </div>
</div>
