@model UmTempoEmCasa.Models.Reserva

@{
    ViewData["Title"] = "Edit";
}

<div class="formulario" style="padding-left: 10px;">
    
    <h3 style="text-align: center; padding-top: 40px;">Alterar dados da Reserva</h3>
    
    <div class="container">
        <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReservaID" />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="RefugiadoForeignKey" class="form-label">Nome do Refugiado</label>
                    <select asp-for="RefugiadoForeignKey" class="form-control" asp-items="ViewBag.RefugiadoForeignKey"></select>
                    <span asp-validation-for="RefugiadoForeignKey" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="AnuncioForeignKey" class="form-label"></label>
                    <select asp-for="AnuncioForeignKey" class="form-control" asp-items="ViewBag.AnuncioForeignKey"></select>
                    <span asp-validation-for="AnuncioForeignKey" class="text-danger"></span>
                </div>
                <br />
                
                <div class="col-md-6 offset-md-3">
                    <label asp-for="DateInicio" class="form-label"></label>
                    <input asp-for="DateInicio" class="form-control" />
                    <span asp-validation-for="DateInicio" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="DataFim" class="form-label"></label>
                    <input asp-for="DataFim" class="form-control" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3" style="padding-bottom: 40px;">
                                   
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Alterar
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" style="color:black" id="exampleModalLabel">Dados</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" style="color:black">
                            Alterado com sucesso!
                          </div>
                          <div class="modal-footer">
                            <input type="submit" value="Ok" class="btn btn-success"/>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-warning" asp-action="Index">Voltar para a Lista</button>

                </div>
            </form>
        </div>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
