.formulario h3 {
    text-align: center;
    padding-top: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.formulario {
    background-color: rgb(255,108,39);
    color: white;
}
.termAnfcss {
    color: black;
    background-color:white;
}
.linktermo {
    text-align: center;
    font-size: 12px;
}
.linktem a {
    font-size: 10px;
}



.formulario label {
    background-color: rgb(255,108,39);
    color: white;
    width: 260px;
    height: 30px;
    margin-left: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.formulario a {
    text-decoration: none;
    font-size: 20px;
}

.formulario a:hover {
    color: red;
}

.formulario .form-control:focus {
    border-color: orangered;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 69, 0, 25);
}

.formulario thead {
    font-size: 20px;
    background-color: rgb(134, 77, 50);
    color: white;
}

.formulario tbody {
    font-size: 20px;
}

.btnForm a{
    font-size:17px;
    color: white;
}

.btnForm a:hover {
    color:white;
}