@{
    ViewData["title"] = "termAnf";
}

<div class="termAnfcss" style="padding-left: 10px;">
    <h1 style="text-align:center;">Termos de Serviço</h1>
     <h2>Nossa Missão.</h2>
    <p>
        Nossa missão é criar um mundo onde você se sinta em casa em qualquer lugar. De cabanas a castelos e até aulas de culinária, navegue entre milhões de Anúncios e encontre aqueles que melhor se encaixem nas suas preferências de viagem. Confira a descrição e as fotos, o perfil do Anfitrião e as avaliações dos Hóspedes para obter mais informações sobre um Anúncio. Se você tiver dúvidas, basta enviar uma mensagem ao Anfitrião.
    </p>
    <h2>Acomodar no Um Tempo em Casa.</h2>
    <p>
        Como Anfitrião, o Um Tempo em Casa oferece a você o direito de usar a Plataforma Um Tempo em Casa para compartilhar sua Acomodação, Experiência ou outro Serviço de Anfitrião com nossa comunidade entusiasmada de Hóspedes — e ganhar dinheiro fazendo isso. É fácil criar um Anúncio e você tem controle sobre como acomodar, podendo definir o preço, a disponibilidade e as regras de cada Anúncio.
    </p>
    <p>
        Quando você aceita um pedido de reserva ou recebe uma confirmação de reserva através da Plataforma Um Tempo em Casa, você está celebrando um contrato diretamente com o Hóspede e é responsável por prestar seu Serviço de Anfitrião de acordo com os termos e preços especificados no seu Anúncio. Você também concorda em pagar as taxas aplicáveis, como a taxa de serviço do Um Tempo em Casa  (e os impostos incidentes) por cada reserva. O Um Tempo em Casa Payments deduzirá do seu pagamento os valores devidos, a menos que o Um Tempo em Casa e você concordem com uma forma de dedução diferente. Todos os termos, políticas ou condições que você incluir em qualquer contrato adicional com os Hóspedes devem: (i) estar de acordo com estes Termos, nossos Termos Legais Adicionais, Políticas e as informações fornecidas em seu Anúncio, e (ii) ser divulgados de forma evidente na descrição do seu Anúncio.
    </p>
    <p>
        Sua relação com o Um Tempo em Casa é de um indivíduo ou entidade independente, e não de um funcionário, agente, sócio ou parceiro do Um Tempo em Casa, exceto o Um Tempo em Casa Payments, que atua como agente de cobrança, conforme descrito nos Termos de Pagamentos. O Um Tempo em Casa  não gerencia nem controla seu Serviço de Anfitrião, e você concorda que tem total autonomia para decidir se e quando fornece os Serviços de Anfitrião, além do preço e das condições associadas a eles.
    </p>
    <h2>Gerenciamento do Anúncio.</h2>
    <p>
        A Plataforma Um Tempo em Casa fornece ferramentas que facilitam a criação e o gerenciamento dos Anúncios. Seu Anúncio deve incluir informações completas e exatas sobre seu Serviço de Anfitrião, seu preço, outras cobranças — como taxas de limpeza, taxas de resort, taxas cobradas fora da plataforma — e todas as regras ou requisitos que se aplicam aos seus Hóspedes e Anúncio. Você é responsável por manter as informações (incluindo a disponibilidade do calendário) e o conteúdo (por exemplo, as fotos) do seu Anúncio atualizadas e exatas o tempo todo. Recomendamos que você adquira um seguro adequado para seus Serviços de Anfitrião e leia cuidadosamente os termos e condições da apólice, incluindo os detalhes e exclusões da cobertura. Você só pode manter um Anúncio por Acomodação, mas pode ter vários Anúncios para uma única propriedade se nela tiver vários lugares para receber hóspedes. Todas as ofertas de Experiências estão sujeitas aos nossos Termos Adicionais para Anfitriões de Experiências.
    </p>
    <p>
        Você é responsável por compreender e cumprir todas as leis, regras, regulamentos e contratos com terceiros que se aplicam ao seu Anúncio ou Serviços de Anfitrião. Por exemplo: alguns proprietários, contratos de locação ou normas de associações de proprietários e condomínios restringem ou proíbem sublocações, aluguéis de curta temporada e/ou estadias de longa duração. Algumas cidades têm leis de zoneamento ou outras normas que restringem o aluguel de curta duração em imóveis residenciais. Algumas jurisdições exigem que os Anfitriões se registrem e/ou obtenham uma autorização ou licença para prestar determinados Serviços de Anfitrião (como aluguéis de curta temporada, estadias de longa duração, preparo de alimentos, venda de bebidas alcoólicas, visitas guiadas ou manuseio de veículos, etc.). Em alguns lugares, os Serviços de Anfitrião que você quer oferecer podem ser completamente proibidos. Algumas jurisdições exigem que você registre os Hóspedes que ficam em sua Acomodação, enquanto outras têm leis que criam direitos de locação para os Hóspedes e geram obrigações adicionais para os Anfitriões. Por exemplo, alguns lugares têm leis que regulam a relação entre proprietário e locatário, controle de aluguel e leis de despejo que podem se aplicar a estadias mais longas. Consulte as regras locais para saber quais se aplicam aos Serviços de Anfitrião que você planeja oferecer. As informações que fornecemos sobre os requisitos legais têm fins meramente informativos, e você deve confirmar suas obrigações legais por conta própria. Você é responsável pelo processamento e uso de dados pessoais dos Hóspedes e de outras pessoas em conformidade com as leis de privacidade aplicáveis e com estes Termos, incluindo nossos Padrões de Privacidade do Anfitrião. Se você tiver alguma dúvida sobre a aplicação das leis locais, procure assessoria jurídica.
    </p>
    <p>
        A classificação dos Anúncios nos resultados de busca na Plataforma Um Tempo em Casa depende de diversos fatores, incluindo as seguintes diretrizes básicas:
    •	   Parâmetros de busca do Hóspede (por exemplo, número de Hóspedes, tempo e duração da viagem e faixa de preços),
    •	   Características do Anúncio (por exemplo, preço, disponibilidade do calendário, quantidade e qualidade das imagens, avaliações, tipo de Serviço de Anfitrião, status do Anfitrião, há quanto tempo do Anúncio está disponível e popularidade média do Hóspede),
    •	   Experiência de reserva do Hóspede (por exemplo, o histórico de atendimento ao cliente e cancelamentos do Anfitrião e a facilidade de reserva),
    •	   Requisitos do Anfitrião (por exemplo, número mínimo ou máximo de noites, horário limite para reserva), e
    •	   Preferências do Hóspede (por exemplo, viagens anteriores, Anúncios salvos e a localização do Hóspede ao fazer a busca).
        Pode haver diferenças entre os resultados de busca no aplicativo para celular e no site. O Um Tempo em Casa pode permitir que os Anfitriões promovam seus Anúncios nos resultados de busca ou em outras partes da Plataforma Um Tempo em Casa mediante o pagamento de uma taxa adicional. Nossa Central de Ajuda contém mais informações sobre os fatores que determinam como seu Anúncio aparece nos resultados de busca, nossos programas promocionais e como identificamos o Conteúdo promovido.

    </p>
    <p>
        Você é responsável por seus próprios atos e omissões, assim como é responsável também pelos atos e omissões de qualquer pessoa que contribua para a prestação de seus Serviços de Anfitrião. Você é responsável por definir seu preço e estabelecer regras e requisitos para seu Anúncio. Você deve descrever todas e quaisquer taxas e cobranças na descrição do seu Anúncio e não pode recolher nenhuma taxa ou cobrança adicional fora da Plataforma Um Tempo em Casa, exceto as que forem expressamente autorizadas por nossa Política de Taxas Cobradas Fora da Plataforma. Não incentive os Hóspedes a criar contas duplicadas, enviar avaliações, fornecer informações de contato ou realizar outras ações fora da Plataforma Um Tempo em Casa que violem nossa Política sobre o Uso Fora da Plataforma.
    </p>
    <p>
        Se você trabalha com um coanfitrião ou acomoda como parte de uma equipe, empresa ou outra organização, a entidade e todos os indivíduos que participam da prestação de Serviços de Anfitrião têm as mesmas responsabilidades que os Anfitriões principais, de acordo com estes Termos. Se você aceitar os termos ou celebrar contratos, você declara e garante que tem autorização para celebrar contratos/acordos e vincular sua equipe a estas empresas ou outra organização, e que cada entidade que você gerencia está em situação regular sob as leis locais onde ela está estabelecida. Se você desempenhar outras funções, você declara e garante que tem autorização para tal. Se você instruir o Um Tempo em Casa a transferir uma parte do seu pagamento para um coanfitrião ou outros Anfitriões, ou a enviar pagamentos a outra pessoa, você deve ter autorização para fazê-lo e é responsável pelos valores de pagamento e a exatidão de todas as informações de pagamento que fornece.
    </p>
    <p>
        Você reconhece que o ato de acomodar apresenta riscos inerentes e concorda que assume todos os riscos provenientes de seu acesso e uso da Plataforma Um Tempo em Casa, da oferta de Serviços de Anfitrião ou de qualquer interação que você tiver com outros Membros, seja pessoalmente ou online. Você concorda que teve a oportunidade de analisar a Plataforma Um Tempo em Casa e todas as leis, regras, normas ou obrigações que podem se aplicar aos seus Anúncios ou Serviços de Anfitrião, e que você não está contando com nenhuma declaração legal feita pelo Um Tempo em Casa.
    </p>
