
@{
    ViewData["Title"] = "Catálogo";
}

<!-- BANNER -->
        <img src="~/banner.png" class="img-fluid" alt="Imagem responsiva">
        <!-- FIM DO BANNER -->
    <a asp-controller="Anuncio" asp-action="Create"><button type="button" class="btn btn-outline-dark">Criar Anúncio</button></a> 
    <div id="anuncio">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card border-0">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Casa 2/4 com suíte</h4>
                                <p class="card-text">Casa completa com 2 quartos 1 banheiro e 1 lavabo. Cozinha com
                                    fogão, geladeira, micro-ondas, cafeteira, liquidificador, talheres copos e pratos. A
                                    casa faz parte de um condomínio onde todas as casas são separadas (entrada
                                    privativa). A casa possui garagem para um carro (não é coberta). Wi-fi disponível
                                    aos hóspedes. Qualquer dúvida, entrar em contato pelo </p>
                            </div>
                        </div>
                        <div class="card-footer text-center border-0">
                            <button type="button" class="btn btn-light">CONFIRA</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12 mt-3">
                    <div class="card border-0">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Casa 2/4 com suíte</h4>
                                <p class="card-text">Casa completa com 2 quartos 1 banheiro e 1 lavabo. Cozinha com
                                    fogão, geladeira, micro-ondas, cafeteira, liquidificador, talheres copos e pratos. A
                                    casa faz parte de um condomínio onde todas as casas são separadas (entrada
                                    privativa). A casa possui garagem para um carro (não é coberta). Wi-fi disponível
                                    aos hóspedes. Qualquer dúvida, entrar em contato pelo </p>
                            </div>
                        </div>
                        <div class="card-footer text-center border-0">
                            <button type="button" class="btn btn-light">CONFIRA</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12 mt-3">
                    <div class="card border-0">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Casa 2/4 com suíte</h4>
                                <p class="card-text">Casa completa com 2 quartos 1 banheiro e 1 lavabo. Cozinha com
                                    fogão, geladeira, micro-ondas, cafeteira, liquidificador, talheres copos e pratos. A
                                    casa faz parte de um condomínio onde todas as casas são separadas (entrada
                                    privativa). A casa possui garagem para um carro (não é coberta). Wi-fi disponível
                                    aos hóspedes. Qualquer dúvida, entrar em contato pelo </p>
                            </div>
                        </div>
                        <div class="card-footer text-center border-0">
                            <button type="button" class="btn btn-light">CONFIRA</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
