@model UmTempoEmCasa.Models.Anuncio

@{
    ViewData["Title"] = "Create";
}

<div class="formulario" style="padding-left: 10px;">

    <h3 style="text-align:center; padding-top: 40px;">Cadastrar um Anúncio</h3>

    <div class="container">
        <div class="row">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6 offset-md-3">
                    <label asp-for="ImovelForeignKey" class="form-label">CEP :</label>
                    <select asp-for="ImovelForeignKey" class ="form-control" asp-items="ViewBag.ImovelForeignKey"></select>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="NomeAnuncio" class="form-label">Nome do Anúncio</label>
                    <input type="text" asp-for="NomeAnuncio" class="form-control" />
                    <span asp-validation-for="NomeAnuncio" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="inicio" class="form-label">O imóvel estará disponível a partir de</label>
                    <input asp-for="inicio" class="form-control" />
                    <span asp-validation-for="inicio" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                    <label asp-for="valor" class="form-label">Valor :</label>
                    <input type="text" asp-for="valor" class="form-control" />
                    <span asp-validation-for="valor" class="text-danger"></span>
                </div>
                <br/>
                <div class="col-md-6 offset-md-3">
                    <label asp-for="ImagemAnuncio" class="form-label">Foto do Imóvel</label>
                    <input asp-for="ImagemAnuncio" accept="image/*" />
                    <span asp-validation-for="ImagemAnuncio" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-6 offset-md-3">
                                                        
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color:black;" id="exampleModalToggleLabel">Cadastro</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:black;">
                                    Deseja criar seu Anúncio?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
                                    <input class="btn btn-success" type="button" value="Sim" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" style="color:black;" id="exampleModalToggleLabel2"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="color:black;">
                                   Cadastro efetuado com sucesso!
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <input id="btnBloqueado" type="button" class="btn btn-success" data-bs-toggle="modal" href="#exampleModalToggle" role="button" value="Criar"/>
                    
                </div>
            </form>
        </div>
    </div>
    <br />
    <div style="padding-bottom: 40px; padding-top:30px;">
        <a style="color: white;" asp-action="Index"><b>Acessar a lista de Anúncios</b></a>
    </div>
</div>

<script>

    let d = document, [inputs, btnBloqueado] = [
    d.querySelectorAll('[type = "text"]'),
    d.querySelector('#btnBloqueado')]
    btnBloqueado.disabled = true
    
    for(i = 0; i < inputs.length; i++){
    inputs[i].addEventListener('input', () => {
    let values = []
    inputs.forEach(v => values.push(v.value))
    btnBloqueado.disabled = values.includes('')
    })
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
