@model UmTempoEmCasa.Models.Anuncio

@{
    ViewData["Title"] = "Delete";
}

<div class="container formulario">

    <h3 style="text-align: center;">Deseja realmente exluir?</h3>

    <div class="container" style="padding-top: 30px; padding-left: 40px;">
       
        <label class="col-sm-2"><b>Nome :</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAnuncio)
        </label>
        <br /><br />

        <label class="col-sm-2"><b>Disponível apartir de</b></label>
        <br />
        <label class = "col-sm-10">
            @Html.DisplayFor(model => model.inicio)
        </label>
        <br /><br />

        <label class="col-sm-2"><b>Valor :</b></label>
        <br/>
        <label class = "col-sm-10">R$
            @Html.DisplayFor(model => model.valor)
        </label>
    </div>
    
    <div style="padding-top: 30px; padding-bottom: 30px; padding-left: 40px;">
        <form asp-action="Delete">
            <input type="hidden" asp-for="AnuncioID" />
            <input type="submit" value="Excluir" class="btn btn-danger" /> 
            <input type="submit" value="Voltar para a Lista" class="btn btn-warning" asp-action="Index"/>        
        </form>
    </div>
</div>