@model IEnumerable<UmTempoEmCasa.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
}

<!-- BANNER -->
        <img src="~/banner2.png" class="img-fluid" alt="Imagem responsiva">
        <div class="container">
                <div class="box">
                    <input type="checkbox" id="check"/>
                        <div class="search-box">
                            <input type="text" placeholder="Digite sua cidade...">
                            <label for="check" class="icon">
                               <i class="fas fa-search"></i>
                            </label>
                        </div>
               </div>
        </div>
        <!-- FIM DO BANNER -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">

                        @foreach (var item in Model){
               
                            <div class="col-lg-4 col-md-12 mb-4">
                                <div class="card-section-first rounded p-3">
                                    <div class="card-body">
                                        
                                        <div class="img-square-wrapper">
                                            <a href="www.google.com">
                                            <img src="http://via.placeholder.com/300x180" alt="" class="card-img-top" href="google.com" />
                                            </a>
                                        </div>
                                        
                                        <div class="card-body">
                                            <h5 class="card-title"><b>CEP :</b> @Html.DisplayFor(modelItem => item.Imovel.Cep)</h5>
                                            <p class="class-text"><b>Disponível apartir de </b>@Html.DisplayFor(modelItem => item.inicio)</p>
                                            <p class="class-text"><b>R$</b> @Html.DisplayFor(modelItem => item.valor)</p>
                                            
                                            <div>
                                                <p style="text-align:center;"><a class="btn btn-warning" asp-action="Details" asp-route-id="@item.AnuncioID">Detalhes</a> </p>
                                                <p style="text-align:center;"><button class="btn btn-success">Comprar</button></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>}
                        </div>
                    </div>
                </div>
            </div>