@model IEnumerable<UmTempoEmCasa.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
}

<!-- BANNER -->
        <img src="~/banner2.png" class="img-fluid" alt="Imagem responsiva">
        <div class="container">
                <div class="box">
        <input type="checkbox" id="check">
        <div class="search-box">
            <input type="text" placeholder="Digite sua cidade...">
            <label for="check" class="icon">
                <i class="fas fa-search"></i>
            </label>
        </div>
    </div>
            <div class="container text-center p-4">
        <a asp-controller="Anuncio" asp-action="Create"><button type="button" class="btn btn-outline-warning">Criar Anúncio</button></a> 
        </div>
        </div>
        <!-- FIM DO BANNER -->
    <div class="container">
        
            <div class="col-12 col-md-6 col-lg-4">
                @foreach (var item in Model){
                <div class="card border-0">
                    <div class="img-square-wrapper">
                        <a href="www.google.com">
                            <img src="http://via.placeholder.com/300x180" alt="" class="card-img-top" href="google.com" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nome: @Html.DisplayFor(modelItem => item.Imovel.Cep)</h5>
                        <p class="class-text">Data de Cadastro: @Html.DisplayFor(modelItem => item.inicio)</p>
                        <p class="class-text">R$ @Html.DisplayFor(modelItem => item.valor)</p>
                        <a asp-action="Details" asp-route-id="@item.AnuncioID"><Button>Detalhes</Button></a> 
                        <button>Comprar</button>
                    </div>
                    
                    
                </div>}
            </div>
        </div>
    </div>
